html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f4f4f7;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  --max-width: 600px;
  --responsive-whitespace: 5vw;
}

.header,
.footer {
  background-color: #417275;
  color: white;
}

.header {
  --scroll-timing: 300ms ease-out;
  --padding: 1.5rem;
  position: sticky;
  top: 0;
  padding: var(--padding) 0;
}

.header,
.nav {
  transition: transform var(--scroll-timing);
}

.header--scrolling {
  /* original height * -2 / 3 */
  /* transform: translateY(-1rem); */
  --height: calc(var(--padding) * -2 / 3);
}

/* header content */
.header--scrolling .nav {
  /* original height / 3 */
  /* transform: translateY(0.5rem); */
  --height: calc(var(--padding) / 3);
}

.header--scrolling,
.header--scrolling .nav {
  transform: translateY(var(--height));
}

.header::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0; /* Hidden by default. */
  box-shadow: 0 8px 40px 0 rgba(10, 10, 10, 0.2);
  transition: opacity var(--scroll-timing);
}

.header--scrolling::before {
  opacity: 1;
}

.nav__list {
  max-width: var(--max-width);
  padding: 0 var(--responsive-whitespace);
  margin: 0 auto;
  list-style-type: none;
  display: flex;
}

.nav__list--header {
  justify-content: space-between;
}

.nav__list--footer {
  justify-content: center;
}

.nav__list-item + .nav__list-item {
  padding-left: 1rem; /* gap is not fully supported yet */
}

.main {
  max-width: var(--max-width);
  margin: 10vh auto;
  padding: 0 var(--responsive-whitespace);
}

.footer {
  padding: 2rem 0;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
